body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: salmon;
  }
  
  .item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  button {
    background-color:olivedrab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ee728;
  }
  